[Unit]
Description=Gemian Setup
After=local-fs.target
Before=var-lib-lxc-android-rootfs.mount

[Service]
Type=oneshot
ExecStart=+/usr/sbin/gemian-setup
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
