[Unit]
Description=Gemian Setup
After=local-fs.target

[Service]
Type=oneshot
ExecStart=+/usr/sbin/gemian-setup
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
